<div class="header">
  <h2>
    Directorates
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @directorates.each do |directorate| %>
      <tr>
        <td><%= directorate.name %></td>
        <td><%= directorate.description %></td>
        <td>
          <%= link_to 'Edit', edit_directorate_path(directorate) %> |
          <%= link_to 'Delete', directorate, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'New Directorate', new_directorate_path %>
</div>