<p id="notice"><%= notice %></p>

<p>
  <strong>Program choice:</strong>
  <%= @university_choice.program_choice %>
</p>

<p>
  <strong>Choice order:</strong>
  <%= @university_choice.choice_order %>
</p>

<p>
  <strong>University:</strong>
  <%= @university_choice.university %>
</p>

<%= link_to 'Edit', edit_university_choice_path(@university_choice) %> |
<%= link_to 'Back', university_choices_path %>
