<div class="body">
<%= f.simple_fields_for :declaration_details do |tf| %>
    <div class='fields'>
      <table class="table table-responsive">
        <tbody>
        <tr>
          <td>
            <%= tf.input :declaration_id, as: :hidden, input_html: { value: tf.object.declaration_id} %>
            <%= tf.object.declaration %>
          </td>
          <td>
            <%= tf.collection_radio_buttons :status, [[true, 'Agree'] ,[false, 'Disagree']], :first, :last %>
            <%= tf.full_error :status %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>
</div>
