<%= simple_form_for(@applicant_declaration) do |f| %>
  <%= f.error_notification %>

    <%= f.input :applicant_id, as: :hidden, input_html: { value: @applicant.id } %>
    <%= render partial: 'declaration_details_fields', locals: {f: f} %>

  <div class="form-actions">
    <%= f.button :submit, 'Save and continue' %>
  </div>
<% end %>
