<p id="notice"><%= notice %></p>

<h1>Applicant Declarations</h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicant_declarations.each do |applicant_declaration| %>
      <tr>
        <td><%= applicant_declaration.applicant %></td>
        <td><%= link_to 'Show', applicant_declaration %></td>
        <td><%= link_to 'Edit', edit_applicant_declaration_path(applicant_declaration) %></td>
        <td><%= link_to 'Destroy', applicant_declaration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant Declaration', new_applicant_declaration_path %>
