<% if current_user and current_user.admin? %>
    <li class="nav-item active">
      <%= link_to root_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to users_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-users"></i>
          <span>Users</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to events_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-calendar"></i>
          <span>Event Details</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to regions_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-layer-group"></i>
          <span>Regions</span>
      <% end %>
    </li>


    <li class="nav-item active">
      <%= link_to organization_types_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-layer-group"></i>
          <span>Organization Types</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to groups_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-object-group"></i>
          <span>Groups</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to field_visits_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-location-arrow"></i>
          <span>Field Visits</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to participant_types_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-sort"></i>
          <span>Participant Types</span>
      <% end %>
    </li>

    <li class="nav-item active">
      <%= link_to participants_path, class: 'nav-link' do %>
          <i class="fas fa-fw fa-plus-circle"></i>
          <span>Participants</span>
      <% end %>
    </li>
<% end %>