<div class="body">
<%= simple_nested_form_for @applicant_service  do |f| %>
      <%= hidden_field_tag 'applicant', @applicant.id %>
  <%= f.error_notification %>
    <%= f.input :applicant_id, as: :hidden, input_html: {value: @applicant.id} %>
    <label>Have you served at institution ? </label>
    <%= f.collection_radio_buttons :status, [['Yes', 'Yes'] ,['No', 'No']], :first, :last %>
    <%= f.full_error :status %>

      <div id="services_display">
        <%= render partial: 'service_fields', locals: {f: f} %>
      </div>
    <legend>Sponsor</legend>
    <%= f.input :sponsor, label: 'Who is your sponsor ?' %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>