<legend>Services</legend>
      <%= f.simple_fields_for :services do |tf| %>
        <div class='fields row'>
        <table class="table">
          <thead>
          <tr>
            <th>Institution</th>
            <th>Region</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th></th>
          </tr>
          </thead>
            <tr>
              <td>
                <%= tf.input_field :institution, placeholder: 'Institution', class: 'form-control' %>
                <%= tf.full_error :institution %>
              </td>
              <td>
                <%= tf.input_field :region_id, collection: Region.all, prompt: 'Select Region', class: 'form-control' %>
                <%= tf.full_error :region_id %>
              </td>
              <td>
                <%= tf.input_field :start_date, as: :string, placeholder: 'Start Date', class: 'datepicker form-control' %>
                <%= tf.full_error :start_date %>
              </td>
              <td>
                <%= tf.input_field :end_date, as: :string, placeholder: 'End Date', class: 'datepicker form-control'  %>
                <%= tf.full_error :end_date %>
              </td>
              <td><%= tf.link_to_remove "remove" %></td>
            </tr>
        </table>
        </div>
    <%= javascript_include_tag 'AdminBSBMaterialDesign/form_index' %>
      <% end %>
    <p><%= f.link_to_add "Add Service", :services %></p>
  </div>
