<p id="notice"><%= notice %></p>

<h1>Applicant Services</h1>

<table>
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicant_services.each do |applicant_service| %>
      <tr>
        <td><%= applicant_service.applicant %></td>
        <td><%= applicant_service.service %></td>
        <td><%= link_to 'Show', applicant_service %></td>
        <td><%= link_to 'Edit', edit_applicant_service_path(applicant_service) %></td>
        <td><%= link_to 'Destroy', applicant_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant Service', new_applicant_service_path %>
