<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @applicant_service.applicant %>
</p>

<p>
  <strong>Service:</strong>
  <%= @applicant_service.service %>
</p>

<%= link_to 'Edit', edit_applicant_service_path(@applicant_service) %> |
<%= link_to 'Back', applicant_services_path %>
