<%= simple_form_for(@program_quota) do |f| %>
    <%= f.error_notification %>
    <%= f.association :academic_year %>
    <%= f.association :program %>
    <%= f.association :university %>
    <%= f.input :quota %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
