   <div class="header">
        <h2>
            Program Quotas
        </h2>
    </div>
    <div class="body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Academic year</th>
      <th>Program</th>
      <th>University</th>
      <th>Quota</th>
      <% if current_user.admin? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @program_quotas.each do |program_quota| %>
      <tr>
        <td><%= program_quota.academic_year %></td>
        <td><%= program_quota.program %></td>
        <td><%= program_quota.university %></td>
        <td><%= program_quota.quota %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_program_quota_path(program_quota) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
    <br>
    
    <%= link_to 'New Program Quota', new_program_quota_path, class: 'btn btn-primary' if current_user.admin? %>
</div>