<%= simple_form_for(@participant_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :badge_color,as: :minicolors, input_html: {class: 'colorpicker', data: {
        minicolors: {theme: :bootstrap, position: :left}}} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
