<div class="header">
  <h2>
    Participant Types
  </h2>
</div>
<div class="body table-responsive">
  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @participant_types.each do |participant_type| %>
      <tr>
        <td><%= participant_type.name %></td>
        <td><%= participant_type.description %></td>
        <td>
          <%= link_to 'Edit', edit_participant_type_path(participant_type) %> |
          <%= link_to 'Delete', participant_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<%= link_to 'New Participant Type', new_participant_type_path %>
</div>