<div class="header">
<h2>
    <i class="material-icons">person</i>
    <span>Personal Information</span>
</h2>
</div>
<table class="table table-responsive">
  <tr>
    <th>ID Number</th>
    <td><%= @applicant.id %></td>
  </tr>
  <tr>
    <th>Title</th>
    <td><%= @applicant.title %></td>
  </tr>
  <tr>
    <th>First Name</th>
    <td><%= @applicant.first_name %></td>
  </tr>

  <tr>
    <th>Father Name</th>
    <td><%= @applicant.father_name %></td>
  </tr>
  <tr>
    <th>Grand Father Name</th>
    <td><%= @applicant.grand_father_name %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @applicant.gender %></td>
  </tr>
  <tr>
    <th>Place of Birth</th>
    <td><%= @applicant.place_of_birth %></td>
  </tr>
  <tr>
    <th>Marital Status</th>
    <td><%= @applicant.marital_status %></td>
  </tr>
</table>

<h5>Current Address</h5>
<table class="table table-responsive">
  <tr>
    <th>Region</th>
    <td><%= @applicant.region %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= @applicant.city %></td>
  </tr>
  <tr>
    <th>P.O.Box</th>
    <td><%= @applicant.pobox %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= @applicant.phone %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= @applicant.user.email %></td>
  </tr>
</table>