<div class="header">
<h2>
    <i class="material-icons">person</i>
    <span>Personal Information</span>
</h2>
</div>
<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Title
  </div>
  <div class='col-md-8'>
    <%= @applicant.title %>
  </div>
</div>
<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        First Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.first_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Father Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.father_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Grand Father Name
    </div>
    <div class='col-md-8'>
        <%= @applicant.grand_father_name %>
    </div>
</div>

<div class='row'>
    <div class='col-md-3 col-md-offset-1'>
        Gender
    </div>
    <div class='col-md-8'>
        <%= @applicant.gender %>
    </div>
</div>
<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Place of Birth
  </div>
  <div class='col-md-8'>
    <%= @applicant.place_of_birth %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Marital Status
  </div>
  <div class='col-md-8'>
    <%= @applicant.marital_status %>
  </div>
</div>
<legend>Current Address</legend>
<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Region
  </div>
  <div class='col-md-8'>
    <%= @applicant.region %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    City
  </div>
  <div class='col-md-8'>
    <%= @applicant.city %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    P.O.Box
  </div>
  <div class='col-md-8'>
    <%= @applicant.pobox %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Phone
  </div>
  <div class='col-md-8'>
    <%= @applicant.phone %>
  </div>
</div>

<div class='row'>
  <div class='col-md-3 col-md-offset-1'>
    Email
  </div>
  <div class='col-md-8'>
    <%= @applicant.user.email %>
  </div>
</div>