<% if current_user.admin? %>
    <div class="header">
        <h2>
            Applicants
        </h2>
    </div>
      <div class=" body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
      <tr>
        <th>Applicant ID</th>
        <th>First Name</th>
        <th>Father Name</th>
        <th>Grand Father Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Sponsor</th>
        <th>Exam Hub</th>
        <th>1st program choice</th>
        <% (1..12).each do |t| %>
            <th><%= t.ordinalize %> university</th>
        <% end %>
        <th>2nd program choice</th>
        <% (1..12).each do |t| %>
            <th><%= t.ordinalize %> university</th>
        <% end %>
        <th>3rd program choice</th>
        <% (1..12).each do |t| %>
            <th><%= t.ordinalize %> university</th>
        <% end %>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% counter = 1 %>
      <% unless @applicants.blank? %>
        <% @applicants.each do |applicant| %>
          <tr>
            <td><%= applicant.id %></td>
            <td><%= applicant.first_name %></td>
            <td><%= applicant.father_name %></td>
            <td><%= applicant.grand_father_name %></td>
            <td><%= applicant.gender %></td>
            <td><%= applicant.user.email %></td>
            <td><%= applicant.phone %></td>
            <td><%= applicant.application_status %></td>
            <td><%= applicant.applicant_service.sponsor rescue nil %></td>
            <td><%= applicant.applicant_exam_hub rescue nil %></td>
            <td><%= p1 = applicant.program_choice(1) %></td>
            <% (1..12).each do |t| %>
                <td><%= p1.university_choice(t) rescue nil %></td>
            <% end %>
            <td><%= p2 = applicant.program_choice(2) %></td>
            <% (1..12).each do |t| %>
                <td><%= p2.university_choice(t) rescue nil %></td>
            <% end %>
            <td><%= p3 = applicant.program_choice(3) %></td>
            <% (1..12).each do |t| %>
                <td><%= p3.university_choice(t) rescue nil %></td>
            <% end %>
            <td><%= link_to 'Details', details_applicant_path(applicant) %></td>
          </tr>
          <% counter += 1 %>
        <% end %>
      <% end %>
    </tbody>
  </table>
      </div>
<% end %>
