<% if current_user.admin? %>
    <div class="header">
        <h2>
            Applicants
        </h2>
    </div>
      <div class=" body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Details</th>

      </tr>
    </thead>

    <tbody>
      <% counter = 1 %>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= counter %></td>
          <td><%= applicant.full_name %></td>
          <td><%= applicant.gender %></td>
          <td><%= applicant.user.email %></td>
          <td><%= applicant.phone %></td>
          <td><%= link_to 'Details', details_applicant_path(applicant) %></td>
        </tr>
        <% counter += 1 %>
      <% end %>
    </tbody>
  </table>
      </div>
<% else %>
    <div class="header">
      <h2>
        Application
      </h2>
    </div>
    <div class="body table-responsive">
      <table class='table'>
        <thead>
        <tr>
          <th>Application Details</th>
          <th>Academic Year</th>
          <th>Status</th>
          <th>Match Result - Program </th>
          <th>Match Result - University </th>
        </tr>
        </thead>

        <tbody>
        <% unless current_user.applicant.blank? %>
            <tr>
              <td><%= link_to 'Application Details', details_applicant_path(current_user.applicant) rescue nil %></td>
              <td><%= AcademicYear.current %></td>
              <td><%= current_user.applicant.application_status rescue nil %></td>
              <td><%= applicant.match_result.program rescue nil %></td>
              <td><%= applicant.match_result.university rescue nil %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'New Application', new_applicant_path, class: 'btn btn-primary' if current_user.applicant.blank? %>
    </div>

<% end %>
