<% if current_user.admin? %>
    <div class="header">
        <h2>
            Applicants
        </h2>
    </div>
      <div class=" body table-responsive">
      <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% counter = 1 %>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= counter %></td>
          <td><%= applicant.full_name %></td>
          <td><%= applicant.gender %></td>
          <td><%= applicant.user.email %></td>
          <td><%= applicant.phone %></td>
          <td><%= applicant.application_status %></td>
          <td><%= link_to 'Details', details_applicant_path(applicant) %></td>
        </tr>
        <% counter += 1 %>
      <% end %>
    </tbody>
  </table>
      </div>
<% end %>
