<%= simple_form_for(@program) do |f| %>
  <%= f.error_notification %>

  <div class="form-group form-float">
  <div class="form-line">
      <label class="form-label">Name</label>
      <%= f.input_field :name, class: "form-control show-tick" %>
  </div>
  <%= f.full_error :name %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
