<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @program_choice.applicant %>
</p>

<p>
  <strong>Choice order:</strong>
  <%= @program_choice.choice_order %>
</p>

<p>
  <strong>Program:</strong>
  <%= @program_choice.program %>
</p>

<%= link_to 'Edit', edit_program_choice_path(@program_choice) %> |
<%= link_to 'Back', program_choices_path %>
