<%= simple_form_for(@participant, wrapper_mappings: { boolean: :horizontal_boolean }) do |f| %>
  <%= f.error_notification %>
    <%= f.association :event, as: :hidden, input_html: { value: @current_event.try(:id) } %>
  <div class="row">
    <div class="col-sm-6">
    <%= f.input :name, label: 'Name(title)' %>
    <%= f.association :organization_type, label: 'Region' %>
    <%= f.input :organization_name, label: 'Organization' %>
    <%= f.input :responsibility, label: 'Position' %>
    <%= f.input :place_of_work, label: 'Address' %>
    <%= f.input :telephone_number, label: 'Cell Phone' %>
    </div>
    <div class="col-sm-6 left_form">
    <%= f.input :email %>
    <%= f.association :participant_type %>
    <%= f.input :stay_at %>
    <%= f.association :group %>
    <%= f.association :field_visit %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
