<style>
  .id_card{
    background-image: url('<%= image_path Rails.root.join(ActiveStorage::Blob.service.send(:path_for, Event.first.logo.key)) %>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill; 
    # background: rgb(2,176,231);
    # background: -webkit-linear-gradient(top left, rgba(2,176,231,1) 0%, rgba(8,39,141,1) 0%, rgba(2,0,36,1) 0%, rgba(7,40,142,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 12%, rgba(5,80,165,1) 16%, rgba(3,130,196,1) 35%, rgba(3,145,211,1) 46%, rgba(5,92,172,1) 59%, rgba(1,169,221,1) 65%, rgba(4,98,176,1) 100%, rgba(1,186,235,1) 100%);
    color: black;
    width: 78mm;
    height: 115mm;
    font-family: 'Palatino', serif;
    border: 2px solid purple;
    border-radius: 6px;
    float: left;
    padding: 2px;
    page-break-inside: avoid;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .header{
    height: 57mm;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }

  .title{
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  .moto{
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .date{
    float: right;
    font-size: 10px;
    font-style: italic;
    border-bottom: 1px solid silver;
  }

  .body_and_footer{
    float: left;
    width: 100%;
    height: 55mm;
    overflow: hidden;
    padding-top: 10px;
  }
  
  .id_card_body{
    text-align: center;
    font-weight: bold;
    list-style: none;
    padding: 1px;
    height: 43mm;
    overflow: hidden;
    width: 100%;
  }

  .name{
    width: 60%;
    margin-bottom: 10px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
  }

  footer{
    padding-top: 0px;
    height: 7mm;
    align-self: flex-end;
    width: 100%;
  }
  .circle-text {
    float: right;
    border-bottom: 1px solid silver;
    font-size: 24px;
    # padding: 5px;
  }

  .participant_type{
    width: 80%;
    float: left;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}
</style>
<% @participants.each do |p| %>
    <div class="id_card">
    <div class="header">
    <div class='logo'>
    <%= wicked_pdf_image_tag "moh_small.png", width: '75px', height: '60px' %>
    </div>
    <div class='title'>
    <div class="amharic_name">
      <%= @current_event.amharic_name %><br/>
    </div>
    <div class="english_name">
      <%= @current_event.name %><br/>
    </div>
    </div>
    <div class='moto'>
      <%= @current_event.amharic_motto %><br/>
      <%= @current_event.motto %><br/>
    </div>
    <div class='date'><i class="fas fa-calendar"></i> <%= @current_event.from_amharic_month_day << ' - ' << @current_event.to_amharic_day  << @current_event.amharic_year%> ዓ.ም | 
    <%= @current_event.start_date.strftime('%b %e') << ' - ' << @current_event.end_date.strftime('%e') << ', ' << @current_event.end_date.strftime('%Y')%>
    </div>
</div>
<div class="body_and_footer">
<div class="id_card_body">
  <span class="details">
    <li><span class="name"><%= p.name %></span></li>
    <% unless p.position.blank? %>
      <li><span class="value"><%= p.position %></span></li>
    <% end %>
    <% unless p.organization.blank? %>
      <li><span class="value"><%= p.organization %></span></li>
    <% end %>
  </span>
</div>
<div class="footer">
  <span class='participant_type'><%= p.participant_type %></span>
  <span class="circle-text"><%= p.serial_number %></span>
  <br/>
  <div class='partners'><%= wicked_pdf_image_tag "partners2.png", width: '100%' %></div>
</div>
</div>
    </div>
<% end %>