<style>
  .id_card{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 72mm;
    height: 110mm;
    border: 1px solid silver;
    border-radius: 6px;
    float: left;
    margin: 5px;
    padding: 2px;
    page-break-inside: avoid;
  }

  li{
    margin-bottom: 5px;
  }

  .id_card_header{
    height: 40px;
    font-size: 12px;
    margin-bottom: 5px;
    color: white;
    background: brown;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .logo{
    width: 60%;
  }

  .photo{
    width: 40%;
  }

  .id_card_body label{
    width: 25%;
  }

  .main_text{
    font-size: large;
    font-weight: bold;
  }

  .amharic_name, .english_name{
    margin-bottom: 2px;
  }

  .body_and_footer{
    height: 70mm;
    vertical-align: bottom;
    overflow: hidden;
    background-image: url('<%= image_path Rails.root.join(ActiveStorage::Blob.service.send(:path_for, Event.first.logo.key)) %>');
    background-repeat: no-repeat;
    background-position: center;
  }
  .id_card_body{
    height: 75%;
    list-style: none;
    padding: 2px;
    padding-left: 5px;
    overflow: hidden;
  }
  .footer{
    vertical-align: bottom;
  }
  .circle-text {
    margin-left: 84%;
    border: 1px solid silver;
    border-radius: 50%;
    font-size: large;
    padding: 2px;
  }

  .participant_type{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 5px solid brown;
  }
</style>
<% @participants.each do |p| %>
    <div class="id_card">
      <div class="id_card_header">

        <div class="logo">
          <%= image_tag @current_event.logo %>
        </div>

        <div class="photo">
          <%= image_tag p.photo %><br/>
        </div>

      </div>

        <div class="id_card_body">
          <li>
            <label>Name:</label><b><%= p.name %></b>
          </li>
          <li>
            <label>Phone No:</label><b><%= p.name %></b>
          </li>
          <li>
            <label class="label">Org:</label><b><%= p.organization_type %></b>
          </li>
          <div class="main_text">
            <%= @current_event.moto %>
          </div>
        </div>
    </div>
<% end %>
