<style>
  .id_card{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 72mm;
    height: 110mm;
    border: 5px solid skyblue;
    border-radius: 6px;
    float: left;
    margin: 5px;
    padding: 5px;
    page-break-inside: avoid;
  }

  .id_card_header{
    width: 100%;
    text-align: center;
    height: 30mm;
    margin-bottom: 5px;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .logo{
    width: 100%;
  }

  .id_card_body{
    height: 55mm;
    padding: 2px;
    width: 100%;
    float: left;
    font-size: 16px;
  }

  .details{
    width: 50%;
    float: left;
  }

  .photo{
    width: 48%;
    float: left;
    padding-left: 2%;
    text-align: right;
    overflow: hidden;
  }
  .id_card_body li{
    list-style: disc;
    margin-bottom: 15px;
    float: left;
    width: 100%;
  }

  .id_card_body label{
    float: left;
    font-weight: normal;
    width: 100%;
    margin-bottom: 10px;
  }

  .value{
    font-weight: bold;
    width: 100%;
    margin-right: 5px;
    float: left;
    border-bottom: 1px solid silver;
  }

  .main_text{
    width: 100%;
    float: left;
    margin-top: 5px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }
</style>

<% @participants.each do |p| %>
    <div class="id_card">
      <div class="id_card_header">

        <span class="logo">
          <%= image_tag @current_event.logo, height: '100%' rescue nil %>
        </span>
      </div><hr/>
        <div class="id_card_body">
          <span class="details">
          <li><label>ስም:</label> <span class="value"><%= p.name %></span></li>
          <li>
            <label>ስልክ ቁጥር:</label> <span class="value"><%= p.telephone_number %></span>
          </li>
          </span>
          <span class="photo">
            <% if p.photo.attached? %>
            <%= image_tag p.photo, width: '100%' %>
                <% else %>
            <%= wicked_pdf_image_tag 'missing.png', width: '100%' %>
                <% end %>
        </span>
        </div>
          <div class="main_text">
            <%= @current_event.motto %>
          </div>
    </div>
<% end %>
