<style>
  .id_card{
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 72mm;
    height: 110mm;
    border: 1px solid silver;
    border-radius: 6px;
    float: left;
    margin: 5px;
    padding: 2px;
    page-break-inside: avoid;
  }

  .id_card_header{
    height: 35mm;
    width: 72mm;
    font-size: 12px;
    color: white;
    background: brown;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
  }

  .amharic_name, .english_name{
    margin-bottom: 2px;
  }

  .body_and_footer{
    margin-top: 10px;
    height: 70mm;
    vertical-align: bottom;
    overflow: hidden;
    background-image: url('<%= image_path Rails.root.join(ActiveStorage::Blob.service.send(:path_for, Event.first.logo.key)) %>');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
  }
  .id_card_body{
    height: 80%;
    list-style: none;
    padding: 5px;
    overflow: hidden;
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }
  .details{
    width: 100%;
    float: left;
  }

  .details li{
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }

  .id_card_body label{
    float: left;
    font-weight: normal;
    width: 40%;
    }

  .value{
    font-weight: bold;
    width: 60%;
    float: left;
    border-bottom: 1px solid silver;
  }
  .footer{
    height: 20%;
    align-self: flex-end;
  }


  .circle-text {
    float: right;
    border: 1px solid skyblue;
    margin-bottom: 20px;
    border-radius: 50%;
    font-size: large;
    padding: 2px;
  }

  .participant_type{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 5px solid brown;
  }
</style>
<% @participants.each do |p| %>
    <div class="id_card">
      <div class="id_card_header" style="background: <%= p.participant_type.try(:badge_color) %>">

        <div class="amharic_name">
          <%= @current_event.amharic_name %><br/>
          ከ<%= @current_event.from_amharic_month_day << ' - ' << @current_event.to_amharic_month_day << ' ' << 'ቀን' << @current_event.amharic_year%> ዓ.ም
          <%= @current_event.amharic_location %>
        </div>

        <div class="english_name">
          <%= @current_event.name %><br/>
          <%= @current_event.start_date.strftime('%b %d') << ' - ' << @current_event.end_date.strftime('%b %d') << ', ' << @current_event.end_date.strftime('%Y')%>
          <%= @current_event.location %>
        </div>

        <%= @current_event.amharic_motto %><br/>
        <%= @current_event.motto %><br/>
      </div>
      <div class="body_and_footer">
        <div class="id_card_body">
          <span class="details">
            <li><label>Name</label> <span class="value"><%= p.name %></span></li>
            <li><label>Organization</label> <span class="value"><%= p.organization %></span></li>
            <% unless p.position.blank? %>
              <li><label>Position</label> <span class="value"><%= p.position %></span></li>
            <% end %>
            <% unless p.position.blank? %>
              <li><label>Group</label> <span class="value"><%= p.group %></span></li>
            <% end %>
            <% unless p.field_visit.blank? %>
              <li><label>Field Visit</label> <span class="value"><%= p.field_visit %></span></li>
            <% end %>
            <% unless p.stay_at.blank? %>
              <li><label>Stay at</label> <span class="value"><%= p.stay_at %></span></li>
            <% end %>
        </span>
        </div>
        <div class="footer">
          <div class="circle-text"><%= p.serial_number %></div>
          <br/>
          <div class="participant_type" style="border-bottom: 5px solid <%= p.participant_type.try(:badge_color).blank? ? "brown" : p.participant_type.try(:badge_color) %>"><%= p.participant_type %></div>
        </div>
      </div>
    </div>
<% end %>