<style>
  .id_card{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 115mm;
    height: 78mm;
    border: 1px solid skyblue;
    border-radius: 6px;
    float: left;
    padding: 5px;
    page-break-inside: avoid;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .header{
    width: 100%;
    float: left;
    height: 28mm;
    overflow: hidden;
    margin-bottom: 5px;
    vertical-align: middle;
    border-bottom: 1px solid silver;
    font-size: 12px;
  }

  .moh_logo{
    width: 20%;
    float: right;
    padding: 2px;
  }

  .id_card_header{
    width: 78%;
    float: left;
    font-size: 14px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    background: brown;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    display: table-cell;
    vertical-align: center;
  }

  .amharic_name, .english_name{
    margin-bottom: 0;
  }

  .body_and_footer{
    background-image: url('<%= image_path Rails.root.join(ActiveStorage::Blob.service.send(:path_for, Event.first.logo.key)) %>');
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 100%;
    height: 50mm;
    vertical-align: bottom;
    overflow: hidden;
    display: flex;
  }
  .id_card_body{
    font-size: 15px;
    height: 100%;
    list-style: none;
    padding: 1px;
    overflow: hidden;
    width: 75%;
    float: left;
    margin-bottom: 1px;
  }
  .details{
    width: 100%;
    float: left;
  }

  .details li{
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .id_card_body label{
    float: left;
    font-weight: normal;
    width: 30%;
    }

  .value{
    font-weight: bold;
    width: 60%;
    float: left;
    border-bottom: 1px solid silver;
  }
  .footer{
    padding-top: 10%;
    height: 100%;
    align-self: flex-end;
    width: 24%;
    float: right;
    vertical-align: bottom;
  }


  .circle-text {
    border: 2px solid silver;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
    font-size: large;
    padding: 5px;
  }

  .participant_type{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 10px solid brown;
  }
</style>
<% @participants.each do |p| %>
    <div class="id_card">
      <div class="header">
        <div class="id_card_header" style="background: <%= p.participant_type.try(:badge_color) %>">

          <div class="amharic_name">
            <%= @current_event.amharic_name %><br/>
            ከ<%= @current_event.from_amharic_month_day << ' - ' << @current_event.to_amharic_month_day << ' ' << 'ቀን' << @current_event.amharic_year%> ዓ.ም
            <%= @current_event.amharic_location %>
          </div>

          <div class="english_name">
            <%= @current_event.name %><br/>
            <%= @current_event.start_date.strftime('%b %d') << ' - ' << @current_event.end_date.strftime('%b %d') << ', ' << @current_event.end_date.strftime('%Y')%>
            <%= @current_event.location %>
          </div>

          <%= @current_event.amharic_motto %><br/>
          <%= @current_event.motto %><br/>
        </div>
        <div class="moh_logo"><%= wicked_pdf_image_tag('moh_logo.png', width: '100%') %></div>
      </div>
      <div class="body_and_footer">
        <div class="id_card_body">
          <span class="details">
            <li><label>Name</label> <span class="value"><%= p.name %></span></li>
            <li><label>Organization</label> <span class="value"><%= p.organization %></span></li>
            <% unless p.field_visit.blank? %>
              <li><label>Field Visit</label> <span class="value"><%= p.field_visit %></span></li>
            <% end %>
            <% unless p.group.blank? %>
              <li><label>Group</label> <span class="value"><%= p.group %></span></li>
            <% end %>
            <% unless p.stay_at.blank? %>
              <li><label>Hotel</label> <span class="value"><%= p.stay_at %></span></li>
            <% end %>
        </span>
        </div>
        <div class="footer">
          <div class="circle-text"><%= p.serial_number %></div>
          <br/>
          <div class="participant_type" style="border-bottom: 5px solid <%= p.participant_type.try(:badge_color).blank? ? "brown" : p.participant_type.try(:badge_color) %>"><%= p.participant_type %></div>
        </div>
      </div>
    </div>
<% end %>