<div class="header">
  <h2>
    Participants
  </h2>
</div>
<div class="body table-responsive">
  <%= form_tag badges_participants_path(format: :pdf), method: :get do %>
    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    <thead>
      <tr>
        <th><%= check_box(nil, "check_all", {class: 'check_all',class: "filled-in chk-col-pink"}) %>
          <label for="check_all">All</label>
        </th>
        <th>Amharic Name</th>
        <th>English Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
        <tr>
          <td>
            <%= check_box(nil, "participants", {multiple: true,id: participant.id,class: "filled-in chk-col-pink"}, participant.id) %>
            <label for="<%= participant.id %>"></label>
          </td>
          <td><%= participant.amharic_name %></td>
          <td><%= participant.name %></td>
          <td>
            <%= link_to 'Edit', edit_participant_path(participant), class: 'btn btn-primary' %>
          <%= link_to 'Delete', participant, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
      <center>
        <%= submit_tag 'Generate Badges',data: { disable_with: false }, class: 'btn btn-success' %>
      </center>
  <% end %>
  <br/><hr/>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to 'Add Participant', new_participant_path, class: 'btn btn-primary' %>
    </div>
  </div>


</div>