<div class="header">
  <h2>
    Participant Details
  </h2>
</div>
<div class="body">
  <%= image_tag @participant.photo, width: '200px' rescue nil %>

<p>
  <strong>Amharic Name:</strong>
  <%= @participant.amharic_name %>
</p>

  <p>
    <strong>English Name:</strong>
    <%= @participant.name %>
  </p>
<hr/>
<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
</div>