<% content_for :header do %>
    <div class="block-header">
      <h2><%= AcademicYear.current %> Academic Year</h2>
    </div>

    <div class="row clearfix">
      <% if current_user.admin? %>
          <%= link_to applicants_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-teal hover-expan-effect">
                  <div class="icon">
                    <i class="material-icons">people</i>
                  </div>
                  <div class="content">
                    <div class="text">Applicants</div>
                    <div class="number"><%= AcademicYear.current.blank? ? 0 : AcademicYear.current.applicants.count  %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to programs_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-pink hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                  </div>
                  <div class="content">
                    <div class="text">Programs</div>
                    <div class="number"><%= Program.count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to universities_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-cyan hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">school</i>
                  </div>
                  <div class="content">
                    <div class="text">Universities</div>
                    <div class="number"><%= University.count %></div>
                  </div>
                </div>
              </div>
          <% end %>
          <%= link_to program_quotas_path do %>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box bg-light-green hover-expand-effect">
                  <div class="icon">
                    <i class="material-icons">format_list_numbered</i>
                  </div>
                  <div class="content">
                    <div class="text">Total Quotas</div>
                    <div class="number"><%= ProgramQuota.overall_total %></div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>
<% unless current_user.admin? %>
    <div class="row">
      <div class="col-sm-6">
        <div class="header">
          <h2>
            <i class="material-icons">person</i>
            <span>My Application</span>
          </h2>
        </div>
        <div class="body table-responsive">
          <% if current_user.applicant %>
              <table class='table'>
                <thead>
                <tr>
                  <th>Application Details</th>
                  <th>Status</th>
                  <th>Matched Program </th>
                  <th>Matched University </th>
                </tr>
                </thead>

                <tbody>
                <% unless current_user.applicant.blank? %>
                    <tr>
                      <td><%= link_to 'Application Details', details_applicant_path(current_user.applicant) rescue nil %></td>
                      <td><%= current_user.applicant.application_status rescue nil %></td>
                      <td><%= applicant.match_result.program rescue nil %></td>
                      <td><%= applicant.match_result.university rescue nil %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
          <% end %>
          <% if current_user.applicant.blank? %>
              <% unless @application_calendar.blank? %>
                  <% if @application_calendar.try(:start_time) <= Date.today and @application_calendar.try(:end_time) >= Date.today %>
                      <%= link_to 'Start New Application', instructions_applicants_path, class: 'btn btn-primary' if current_user.applicant.blank? %>
                  <% else %>
                      <i class="material-icons">info</i>
                      <i>Application is not Available. Please check calendar</i>
                  <% end %>
              <% else %>
                  <i class="material-icons">info</i>
                  <i>Application is not Available. Please check calendar</i>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header">
          <h2>
            <i class="material-icons">event_note</i>
            <span>Calendar</span>

          </h2>
        </div>
        <div class="body table-responsive">
          <table class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
              <th>Event</th>
              <th>Start time</th>
              <th>End time</th>
            </tr>
            </thead>

            <tbody>
            <% @events.each do |event| %>
                <tr>
                  <td><%= event.name %></td>
                  <td><%= event.start_time %></td>
                  <td><%= event.end_time %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
<div class="body table-responsive">
<legend>Applicants program choice statstics</legend>
<table class='table table-bordered dataTable js-exportable'>
  <thead>
  <tr>
    <th>Program Name</th>
    <th>1st</th>
    <th>2nd</th>
    <th>3rd</th>
  </tr>
  </thead>
  <% Program.all.each do |p| %>
      <tr>
        <td><%= p %></td>
        <td><%= p.count_applicants(1) %></td>
        <td><%= p.count_applicants(2) %></td>
        <td><%= p.count_applicants(3) %></td>
      </tr>
  <% end %>
</table><br/><br/>

  <legend>Applicants university choice statstics</legend>
  <table class='table table-bordered table-condensed table-striped'>
    <tbody>
    <% Program.all.each do |p| %>
        <tr>
          <th rowspan="<%= p.universities.count * 2 + 1 %>">
            <%= p %>
          </th>
        </tr>
        <% p.universities.each do |u| %>
          <tr>
            <td rowspan="2"><%= u %></td>
              <% (p.choice_orders(u.id)).each do |order| %>
                  <td><%= order.ordinalize %></td>
              <% end %>
            </tr>
            <tr>
              <% (p.choice_orders(u.id)).each do |order| %>
                  <td><%= p.applicant_per_university(u.id, order) %></td>
            <% end %>
            </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>
</div>